
<h3 translate>Change Password</h3>
<form name="ChangePasswordForm" id="ChangePasswordForm" action="#">
    <div class="row">
        <div class="col-md-4">
            <div id="currentPasswordDiv" class="ng-hide" data-ng-show="{{show}}">
                <div class="form-label">
                    <label for="currentPwd" class="required-label" translate>Current Password</label>
                </div>
                <div class="form-field">
                    <input class="form-control" ng-required="{{show}}" type="password" id="currentPwd" name="currentPwd" data-ng-model="pwdModel.currentPwd" />
                    <div class="error" data-ng-show="ChangePasswordForm.currentPwd.$dirty && ChangePasswordForm.currentPwd.$invalid"><span translat>Your current password is required</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-label">
                <label for="newPwd" class="required-label" translate>New Password</label>
            </div>
            <div class="form-field">
                <input class="form-control" required="required" type="password" id="newPwd" name="newPwd" data-ng-model="pwdModel.newPwd" />
                <div class="error" data-ng-show="ChangePasswordForm.newPwd.$dirty && ChangePasswordForm.newPwd.$invalid"><span translat>Please meet password requirements</span></div>
            </div>
            <div class="form-label">
                <label for="newPwdRepeat" class="required-label" translate>Confirm Password</label>
            </div>
            <div class="form-field">
                <input class="form-control" required="required" type="password" id="newPwdRepeat" name="newPwdRepeat" data-ng-model="pwdModel.newPwdRepeat" />
                <div class="error" data-ng-show="ChangePasswordForm.newPwdRepeat.$dirty && ChangePasswordForm.newPwdRepeat.$invalid"><span translat>Please enter your new password a second time</span></div>
                <div class="error" data-ng-show="ChangePasswordForm.newPwdRepeat.$dirty && ChangePasswordForm.newPwd.$modelValue !== ChangePasswordForm.NewPwdRepeat.$modelValue && ChangePasswordForm.NewPwdRepeat.$valid">Your passwords do not match</div>
            </div>
            <div class="form-footer">
                <button type="button" class="btn btn-default" data-ng-click="cancel()"><span translate>Cancel</span></button>
                <button type="button" class="btn btn-primary" data-ng-click="ok()" data-ng-disabled="ChangePasswordForm.$invalid"><span translat>OK</span></button>
            </div>
        </div>
        <div class="col-md-4">
            <palms-password-strength data-title="Password Requirements" data-password="pwdModel.newPwd" data-on-validation-check="pwdValidationCheck(isValid)"></palms-password-strength>
        </div>
    </div>

</form>