<div class="pad-top-large">
    <div class="col-md-8">
        <form id="PasswordResetForm" name="PasswordResetForm">
            <div class="pad-left">
                <h2>Can't access your account?</h2>
            </div>
            <div class="pad-left-large">
                <div class="col-xs-8">
                    <div class="row pad-bottom">
                        <div>
                            <p transalte>We are sorry that you are having trouble accessing your account.  Enter the email address associated with this account.</p>
                        </div>
                    </div>
                    <div class="col-xs-8">

                        <div class="row">
                            <div class="form-field">
                                <input required="required" type="email" class="form-control" id="email" name="email" placeholder="Email" data-ng-model="email" translate>
                                <div class="error" data-ng-show="PasswordResetForm.email.$dirty && PasswordResetForm.email.$invalid" translate>Properly formatted email is required.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div om-button-container class="om-form-footer">
                                <button type="button" class="btn btn-primary om-button-confirm" data-ng-click="submit()" data-ng-disabled="PasswordResetForm.$invalid" translate>Submit</button>&nbsp
                                <a href="#!/login" class="btn btn-default om-button-dismiss" translate>Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
            <div class="col-xs-4"></div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>