<div class="cost-wrapper">
  <div class="side-menu-wrapper col-md-3">
    <div ng-class="sideMenuShowing ? 'fixed' : 'absolute'">
      <div class="list-group side-menu">
        <a ui-sref="{{option.state}}" ng-repeat="option in nav.paths" ng-class="{active: option.title == nav.current}" class="list-group-item" ng-if="sideMenuShowing"> {{option.title}}</a>
        <a href="javascript:;"ng-click="toggleSideMenu()" class="list-group-item bold ">{{sideMenuShowing ? 'Hide Menu' : 'Show Menu'}}</a>
      </div> 
    </div> 
  </div>

  <div style="width: 100%; height: 70px" ng-if="!sideMenuShowing"></div>
  <div ng-class="sideMenuShowing ? 'table-cell col-md-9' : 'table-cell col-md-12 remove-pad-left'" ui-view></div>
</div>